@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #e9ecef;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 700px;
    border-radius: 300px;
    padding: 5px;
    display: block;
    margin: auto;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 25 px;  


}

img{
    display: block;
    margin: auto;
}

p{
    text-align: justify;
    margin: 12px;
    
}

.app{
    background-color: white;
    color: black;
    width: 500px;
    border-radius: 300px;
    padding: 5px;
    display: block;
    margin: auto;
    text-align: center;
}
