*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(27deg, #2ec4b6 50%, #cccccc 50%);
    color: black;
    font-size: 20px;
}
.container{
    width: 400px;
    border: 1px solid black;
    border-radius: 2px;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 19px 20px 8px -9px #000000;
    
}
header{
    background: w;
    border-bottom: 1px solid #fff;
    padding: 20px 40px;
    text-align: center;


}
#formUser{
    padding: 30px 20px;
    
}
.form-control{
    margin-bottom: 7px;
    padding-bottom: 20px;
    position: relative;
   
}
.form-control label{
    display: inline-block;
    margin-bottom: 7px;
    font:weight 200px ;
    margin-left:  20px;
    margin-top: 15px;
    
  
}
.form-control input{
    border: none;
    background-color:white;
    display: block;
    font-size: 16px;
    padding: 12px;
    width: 90%;
    margin-left:  20px;
    
    
}

.form-control, input:focus{
    outline: none;
}

.button{
    background-color: black;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #FFF;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
   
}
.button:hover{
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 2px;
    color: #000000;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
   
}
p{
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
    color: rgb(255, 0, 0);
    margin-left:  20px;
}
